<!DOCTYPE html>
<html lang="en">
<head>
    <meta charset="UTF-8">
    <title>Error 401</title>

    <!-- Get variables -->
    <link rel="stylesheet" href="/assets/root.css" type="text/css">

    <!-- Get common stylesheet -->
    <link rel="stylesheet" href="/assets/common.css" type="text/css">

    <meta name="viewport" content="width=device-width, initial-scale=1, maximum-scale=1, user-scalable=0">
</head>
<body>
<div class="description">
    Hands up! Where do you think you are going?<br>
    You need to access this page from Telegram.<br>
    <span style="color: var(--disabled-text-color)">(401 Unauthorized)</span>
</div>
<div class="custom-btn-holder">
    <button id="cancel-button" type="button" onclick="window.location.href='tg://resolve'">Cancel</button>
</div>
</body>
</html>