body {
    color: var(--text-color);
    background-color: var(--chat-background-color);
    font-family: sans-serif;
}

.error-message {
    margin: 10px 0 5px;
    padding: 5px;
    border: var(--seperator-color);
    background: var(--tile-color);
}