:root {
    --header-background-color: #1f2b37;
    --header-text-color: #FFFFFF;

    --tile-color: #1b2530;
    --seperator-color: #0B0F14;
    --grey-text-color: #89959f;
    --disabled-text-color: #4d5359;
    --accent-color: #74BCEB;
    --touch-button-color: #2F516D;


    --chat-background-color: #141C24;



    --message-color: #212C38;
    --text-color: #FAFAFA;
    --inline-button-color: #242F39;
    --inline-button-text-color: #FFFFFF;

    --white: #FFFFFF;



    --custom-width-full: 100%;
    --custom-width-day: calc(var(--custom-width-full) / 7);
    place-items: center;
}